= @circle.name + "様"
\
お世話になっております。
マイルストーン編集会 新歓MiX編集部でございます。
\
= @st_date+"〜"+@fn_date+"のイベント登録の締め切りが【本日23:59:59】となっております。"
イベントの登録はお済みでしょうか？
\
本日の締め切りをもちまして、２０１６年の新歓MiXへの登録が最後となります。
登録のし忘れがないよう、お気をつけください。
\
\
マイルストーン編集会 新歓MiX編集部
shinkanmix2016@e-mile.com
