%body#top
  %header#home
    %section#hero.hero
      .container
        .row
          .col-md-8.col-md-offset-2.text-center.inner
            %h1.animated.fadeInDown
              = image_tag 'logo.png'
            %p.animated.fadeInUp.delay-05s
              by
              %em Milestone Editorial Club
        .row
          .col-md-6.col-md-offset-3.text-center
            2016年の当サービスの運用は終了致しました。多くの皆様のご利用ありがとうございました。
            %br
            また来年お会いできるのを楽しみにしています。
            %br
            当サービスに関するお問い合わせは以下のサイトよりお願いします。
        .row
          .col-md-6.col-md-offset-3.text-center
            = link_to 'マイルストーン編集会公式HP', 'http://e-mile.com', class: 'learn-more-btn'
  %footer
    .container
      .row
        .col-md-6
        .col-md-6.credit
          %p
            Presented by
            = link_to 'Milestone Editorial Club', 'http://www.e-mile.com/'
            2016
            無断転載を禁じます。

