%p
  Hello #{@resource.email}!
%p 誰かがパスワードの変更を希望しています。ご本人の場合は、以下のリンクからパスワードのリセットを行ってください。
%p= link_to 'Change my password', edit_password_url(@resource, reset_password_token: @token)
%p もしご自分によるものではない場合は、このメールは無視してください。
%p 上記のリンクをクリックしない限り、パスワードが変更されることはありません。

%p 新歓MiX 早大マイルストーン編集会 http://e-mile.com
%p ※このメールへのご返信はご遠慮ください。
