%header.jumbotron.jumbotron-general
  .container
    %h1.jumbotron-h1
    %p
      = image_tag 'logo.png', class: 'img-responsive center', alt: '新歓MiX'
.under-jumbotron
.container.index
  %h2.title
    Circles
    %span.circle-num
      = @circles.length
      circles
  %hr.title
  .circle-list
    %h3 Results
    = render partial: 'circle', collection: @circles